/* database.html */
body{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #333;
}

#database .table-bordered{
  border: 1px solid #c4d1d9;
}
#database .table-bordered td{
  border: 1px solid #c4d1d9;
  line-height: 30px;
}
#database>.table-bordered>thead>tr>th {
  background: #e9edf1;
  text-align: center;
  font-size: 16px;
  height: 30px;
  line-height: 30px;
  border: none;
}

#database .table tbody {
  border: 1px solid #c4d1d9;
  border-top: none;
  text-align: center;
}
#database .over td:nth-child(4){
  color:red;
}
.table-btns {
  border-top: 2px solid #E5EFF8;
  width: 100%;
  height: 80px;
  padding-top: 10px;
}
.search-z {
  border-width: 1px;
  height: 42px;
  border-radius: 0px;
  padding: 6px;
  -webkit-transition: none;
  transition: none;
  font-size: 12px;
}
.table-btns .btn {
  font-size: 12px;

  padding: 8px 16px;
  height: 42px;
  line-height: 14px;
}
.pagination {
  position: relative;
  top: -40px;
}


/*基本信息 表单*/
#info input {
  width: 40%;
}
#info textarea {
  width: 40%;
  height: 100px;
  resize: none;
}
.nav-tabs{
  margin-bottom: 20px;
}

/*头像*/
#target img{
  vertical-align: middle;
}