<% include ../layout/header.html %>
<% include ../layout/menus.html %>

<!--<h1>Welcome <%= user.username %>, 欢迎来到数据中心！</h1>-->
<div class="container">
    <div class="table-btns">
        <form action="">
            <input id="select-z" class="search-z" style="width: 200px;">
            <button type="button" id="query-z" class="btn btn-default">查询</button>
        </form>
    </div>
    <div id="database">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th class="col-sm-1"></th>
                <th class="col-sm-3">类别</th>
                <th class="col-sm-3">收入</th>
                <th class="col-sm-3">支出</th>
                <th class="col-sm-2">日期</th>
            </tr>
            </thead>
            <tbody id="table-content">
            </tbody>
        </table>
    </div>

    <form id="form1" >
        <div>
        </div>
        <div>
            <ul class="pagination" id="pagination">
            </ul>
            <input type="hidden" id="PageCount"  />
            <input type="hidden" id="PageSize"  value="10" />
            <input type="hidden" id="countindex" value="10"/>
            <!--设置最多显示的页码数 可以手动设置 默认为7-->
            <input type="hidden" id="visiblePages"  value="5" />
        </div>
    </form>
</div>
<script>
    var params = {};
    var reqUrl = "../javascripts/aTest.json";
    var pageCount = 1;
    $.ajax({
//            type: "post",
        dataType: "json",
        async: false,
        url: reqUrl,
        data: params,
        success: function (data) {
           pageCount = data.pageCount;
        }
    });

    function loadData(num) {
        $("#PageCount").val(pageCount);
        function tableResponse(params, reqUrl){
            $.ajax({
//            type: "post",
                dataType: "json",
                url: reqUrl,
                data: params,
                success: function (data) {
                    tableInit(data.data);
                }
            });
        }
        function tableInit(data){
            var len = data.length;
            if (len == 0) {
                $("#table-content").html('<tr><td colspan="5">找不到数据</td></tr>')
            } else {
                $("#table-content").empty();
                for (var i = 0; i < len; i++) {
                    if (data[i].income < data[i].spending) {
                        $("#table-content").append('<tr class="over"><td>' + ((num-1)*10+i+1) + '</td><td>'
                            + data[i].category + '</td><td>'
                            + data[i].income + '</td><td>'
                            + data[i].spending + '(超支)</td><td>'
                            + data[i].date
                            + '</td></tr>');
                    } else {
                        $("#table-content").append('<tr><td >' + ((num-1)*10+i+1) + '</td><td>'
                            + data[i].category + '</td><td>'
                            + data[i].income + '</td><td>'
                            + data[i].spending + '</td><td>'
                            + data[i].date
                            + '</td></tr>');
                    }
                }
            }
        }
        params.currentPage = num;
        tableResponse(params, reqUrl);
        $("#query-z").click(function () {
            if ($("#select-z").val() !== "") {
                params.category = $("#select-z").val();
            } else {
                delete params.category;
            }
            tableResponse(params, reqUrl);
        });
    }

</script>
<script src="../lib/res/myPage.js"></script>
<% include ../layout/footer.html %>