<% include ../layout/header.html %>
<% include ../layout/menus.html %>
<!-- 图片轮播 -->
<div id="home-carousel" class="carousel slide" data-ride="carousel" style="margin-top: -20px;">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#home-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#home-carousel" data-slide-to="1"></li>
        <li data-target="#home-carousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="../images/home/index_bg.png" alt="...">
            <div style="position: absolute;top:150px;left: 400px;">

                <table class="table table-bordered" style="width: 400px;height: 200px;">
                    <thead>
                    <tr>
                        <th class="col-sm-1"></th>
                        <th class="col-sm-3">类别</th>
                        <th class="col-sm-3">收入</th>
                        <th class="col-sm-3">支出</th>
                        <th class="col-sm-2">日期</th>
                    </tr>
                    </thead>
                    <tbody id="table-content">
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <div style="position: absolute;top: 200px;left: 850px;font-size: 26px;">
                <p style="color: #0b3e6f;">表格视图查看年收入支出概况</p>
                <a href="/database" style="font-size: 20px;color: #ffffff;">&gt;&gt;数据中心</a>
            </div>
        </div>
        <div class="item">
            <img src="../images/home/index_bg.png" alt="...">
            <div style="position: absolute;top: 100px;left: 400px;">
                <div style="background-color: #fff;">
                    <div id="report-intro" style="width: 400px;height:250px;"></div>
                </div>
            </div>
            <div style="position: absolute;top: 200px;left: 850px;font-size: 26px;">
                <p style="color: #0b3e6f;">柱状图显示月收入支出情况</p>
                <a href="/report" style="font-size: 26px;color: #ffffff;">&gt;&gt;报表</a>
            </div>
        </div>
        <div class="item">
            <img src="../images/home/index_bg.png" alt="...">
            <div style="position: absolute;top: 200px;left: 850px;font-size: 26px;">
                <p style="color: #0b3e6f;">个人消息/通知管理</p>
                <a href="/profile" style="font-size: 26px;color: #ffffff;">&gt;&gt;消息中心</a>
            </div>

        </div>
    </div>

</div>
<div class="container">
    <h1>Welcome <%= user.username %> 欢迎来到首页！</h1>

</div>

<% include ../layout/footer.html %>