<% include ../layout/header.html %>
<% include ../layout/menus.html %>
<div class="container">
    <ul class="nav nav-tabs">
        <li><a href="/profile">基本信息</a></li>
        <li class="active"><a href="/profile/notice">通知</a></li>
        <li><a href="/profile/message">消息</a></li>
    </ul>
    <div id="notice">
        <table class="table">
            <tbody id="table-content">
            </tbody>
        </table>
        <form id="form1" >
            <div>
            </div>
            <div>
                <ul class="pagination" id="pagination">
                </ul>
                <input type="hidden" id="PageCount"  />
                <input type="hidden" id="PageSize"  value="10" />
                <input type="hidden" id="countindex" value="10"/>
                <!--设置最多显示的页码数 可以手动设置 默认为7-->
                <input type="hidden" id="visiblePages"  value="5" />
            </div>
        </form>
    </div>
</div>
<script>
    $("#table-content").on("click", ".notice-delete", function () {
        $(this).parents("tr").next().remove();
        $(this).parents("tr").remove();
        return false;

    });
    $("#table-content").on("click", ".toggle-cont", function () {
        $(this).parents("tr").next().toggleClass('hide');
        return false;

    });
    var params = {};
    var reqUrl = "../javascripts/notice.json";
    var pageCount = 1;
    $.ajax({
//            type: "post",
        dataType: "json",
        async: false,
        url: reqUrl,
        data: params,
        success: function (data) {
            pageCount = data.pageCount;
        }
    });

    function loadData(num) {
        $("#PageCount").val(pageCount);
        function tableResponse(params, reqUrl){
            $.ajax({
//            type: "post",
                dataType: "json",
                url: reqUrl,
                data: params,
                success: function (data) {
                    tableInit(data.data);
                }
            });
        }
        function tableInit(data){
            var len = data.length;
            if (len == 0) {
                $("#table-content").html('<tr><td colspan="5">找不到数据</td></tr>')
            } else {
                $("#table-content").empty();
                for (var i = 0; i < len; i++) {
                    $("#table-content").append('<tr data-id="' + data[i].id + '"><td><a href="#" class="toggle-cont">' + data[i].title + '</a></td><td>'
                        + data[i].ago + '</td><td><a href="#" class="notice-delete">删除</a></td></tr><tr style="background-color: #E5F5FD;" class="hide"><td colspan="3">' + data[i].description + '</td></tr>');
                }
            }
        }
        params.currentPage = num;
        tableResponse(params, reqUrl);

    }

</script>
<script src="../lib/res/myPage.js"></script>
<% include ../layout/footer.html %>