<% include ../layout/header.html %>
<% include ../layout/menus.html %>

<h1>Welcome <%= user.username %>, 欢迎进入个人账户目录！！</h1>
<div class="container">
    <div>

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#info" aria-controls="info" role="tab" data-toggle="tab">基本信息</a></li>
            <li role="presentation"><a href="#notice" aria-controls="notice" role="tab" data-toggle="tab">通知</a></li>
            <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">消息</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active row" id="info" style="padding-top: 10px;">
                <div class="col-sm-2 text-center">
                    <img src="../images/base/touxiang.jpg" alt="">
                </div>
                <div class="col-sm-10" style="border-left: 2px solid #dcd9de;padding-left: 60px;">
                    <form id="profile-form">
                        <div class="form-group">
                            <label for="userName"><span class="text-danger">*&nbsp;&nbsp;</span>用户名</label>
                            <input type="text" class="form-control" id="userName" name="userName" placeholder="用户名" readonly>
                        </div>
                        <div class="form-group">
                            <label for="address"><span class="text-danger">*&nbsp;&nbsp;</span>联系地址</label>
                            <textarea  class="form-control" id="address" name="address" placeholder="联系地址"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="phone"><span class="text-danger">*&nbsp;&nbsp;</span>联系手机</label>
                            <input type="text" class="form-control" id="phone" name="phone"  placeholder="联系手机">
                        </div>
                        <button type="button"class="btn btn-default" style="margin-right: 10px;" id="profile-save">保存</button>
                        <button type="button" class="btn btn-primary" id="profile-submit">提交</button>
                    </form>
                </div>

            </div>
            <div role="tabpanel" class="tab-pane" id="notice">...</div>
            <div role="tabpanel" class="tab-pane" id="messages">...</div>
        </div>

    </div>
</div>
<% include ../layout/footer.html %>