<% include ../layout/header.html %>
<% include ../layout/menus.html %>

<!--<h1>Welcome <%= user.username %>, 欢迎进入个人账户目录！！</h1>-->
<div class="container">
    <div>

        <!-- Nav tabs -->
        <ul class="nav nav-tabs">
            <li class="active"><a href="/profile">基本信息</a></li>
            <li><a href="/profile/notice">通知</a></li>
            <li><a href="/profile/message">消息</a></li>
        </ul>


        <div class="col-sm-2">
            <div style="width: 80px;height: 80px;border-radius: 100%;">
                <img src="../images/base/noavatar_middle.gif" style="width: 100%;height: 100%;border-radius: 100%;"
                     alt="">
            </div>
            <div style="width: 80px;text-align: center;margin-top: 10px;">
                <a href="#" id="edit-avatar" data-toggle="modal" data-target="#myModal">修改头像</a>
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">修改头像</h4>
                            </div>
                            <div class="modal-body">
                                <div id="target"
                                     style="width: 300px;height: 300px;margin-bottom: 10px;margin-right: 50px;border: 1px solid #ddd;display: inline-block;">

                                </div>
                                <div id="preview"
                                     style="position: relative;width: 82px;height: 82px;margin-bottom: 10px;display: inline-block;border: 1px solid #ddd;overflow: hidden;">

                                </div>
                                <input type="file" id="select-picture">
                                <button class="btn btn-primary">保存修改</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-10" style="border-left: 2px solid #dcd9de;padding-left: 60px;">
            <form id="profile-form">
                <div class="form-group">
                    <label for="userName"><span class="text-danger">*&nbsp;&nbsp;</span>用户名</label>
                    <input type="text" class="form-control" id="userName" name="userName" placeholder="用户名" readonly>
                </div>
                <div class="form-group">
                    <label for="address"><span class="text-danger">*&nbsp;&nbsp;</span>联系地址</label>
                    <textarea class="form-control" id="address" name="address" placeholder="联系地址"></textarea>
                </div>
                <div class="form-group">
                    <label for="phone"><span class="text-danger">*&nbsp;&nbsp;</span>联系手机</label>
                    <input type="text" class="form-control" id="phone" name="phone" placeholder="联系手机">
                </div>
                <button type="button" class="btn btn-default" style="margin-right: 10px;" id="profile-save">保存</button>
                <button type="button" class="btn btn-primary" id="profile-submit">提交</button>
            </form>
        </div>


    </div>
</div>
<script>
    var params = {};
    function profileInit() {
        $.ajax({
//            type: "post",
            dataType: "json",
            url: "../javascripts/profile.json",
            data: params,
            success: function (data) {
                $("#userName").val(data.data.userName);
                $("#address").val(data.data.address).removeAttr("readonly");
                $("#phone").val(data.data.phone).removeAttr("readonly");
            }
        });
    }

    profileInit();
    $("#profile-save").click(function () {
        $("#profile-form :input").attr("readonly", "readonly");
    });
    $("#profile-submit").click(function () {
        params = $("#profile-form").serialize();
        profileInit();
    });


    //    上传头像

    var img = new Image();
    img.src = "../images/base/Penguins.jpg";
    var w = img.width;
    var h = img.height;
    var pw = $("#target").width();
    var ph = $("#target").height();

    if (w / pw > h / ph) {
        h = h / (w / pw);
        w = pw;
        $("#target").css("padding-top", (ph - h) / 2 + "px");
    } else {
        w = w / (h / ph);
        h = ph;
        $("#target").css("padding-left", (pw - w) / 2 + "px");
    }
    img.width = w;
    img.height = h;
    img.id = "picture";
    $("#target").append(img);

    var img2 = new Image();
    img2.src = "../images/base/Penguins.jpg";
    var w2 = img2.width;
    var h2 = img2.height;
    var pw2 = $("#target").width();
    var ph2 = $("#target").height();

    if (w2 / pw2 > h2 / ph2) {
        h2 = h2 / (w2 / pw2);
        w2 = pw2;
    } else {
        w = w / (h / ph);
        h = ph;
    }
    img2.width = w;
    img2.height = h;
    img2.id = "_picture";
    $("#preview").append(img2);

    $('#picture').Jcrop({
        allowSelect: false,
        allowResize: false,
        aspectRatio: 1,
        keySupport: false,
        onChange: updatePreview,
        onSelect: updatePreview
    }, function () {
        this.setSelect([0, 0, 80, 80]);

    });
    function updatePreview(c){
        $("#_picture").css({"position":"absolute","left": -c.x+"px","top": -c.y+"px"});
    }
</script>
<% include ../layout/footer.html %>