<% include ../layout/header.html %>
<% include ../layout/menus.html %>

<div class="container">
    <div id="main" style="width: 1100px;height:600px;"></div>
    <div id="pieChart" style="width: 600px;height:300px;" ></div>
</div>
<script>
    var myChart = echarts.init(document.getElementById('main'));

    $.get('../javascripts/report.json').done(function (data) {
        myChart.setOption({
            color: ['#29C127', '#FE9A38'],
            title: {
                text: '年收入支出报表'
            },
            tooltip: {},
            legend: {
                data: ['收入', '支出', '超支'],
                selectedMode: false
            },
            toolbox: {
                show: true,
                feature: {
                    dataView: {show: true, readOnly: false},
                    magicType: {show: true, type: ['line', 'bar']},
                    restore: {show: true},
                    saveAsImage: {show: true}
                }
            },
            xAxis: {
                data: ['1月', '2月', '3月', '4月', '5月', '6月', '7月', '8月', '9月', '10月', '11月', '12月']
            },
            yAxis: {},
            series: [{
                name: '收入',
                type: 'bar',
                data: data.data["income"],
                markPoint: {
                    data: [
                        {type: 'max', name: '最大值'},
                        {type: 'min', name: '最小值'}
                    ]
                }
            }, {
                name: '支出',
                type: 'bar',
                data: data.data["spending"],
                markPoint: {
                    data: [
                        {type: 'max', name: '最大值'},
                        {type: 'min', name: '最小值'}
                    ],
                    itemStyle: {
                        normal: {
                            color: "#FE9A38"
                        }
                    }
                },
                itemStyle: {
                    normal: {
                        color: function (item) {
                            if (item.data > data.data["limitVal"]) {
                                return "#C23531";
                            }
                            return "#FE9A38";
                        }
                    }
                },
                lineStyle: {
                    normal: {
                        color:  "#FE9A38"
                    }
                }
            },{
                name: "超支",
                type: "bar",
                itemStyle: {
                    normal: {
                        color: "#C23531"
                    }
                }
            }]
        });
    });

    var pieChart = echarts.init(document.getElementById('pieChart'));
    $.get('../javascripts/reportSpending.json').done(function (data) {
        var dataClass = [];
        for(var i = 0; i < data.data.length; i++){
            dataClass.push(data.data[i]['name']);
        }
        pieChart.setOption({
            title: {
                text: '年支出报表'
            },
            tooltip: {
                trigger: 'item',
                formatter: "{a} <br/>{b}: {c} ({d}%)"
            },
            legend: {
                orient: 'vertical',
                x: 'right',
                data:dataClass
            },
            series: [
                {
                    name:'消费类别',
                    type:'pie',
                    radius: ['50%', '70%'],
                    avoidLabelOverlap: false,
                    label: {
                        normal: {
                            show: false,
                            position: 'center'
                        },
                        emphasis: {
                            show: true,
                            textStyle: {
                                fontSize: '30',
                                fontWeight: 'bold'
                            }
                        }
                    },
                    labelLine: {
                        normal: {
                            show: false
                        }
                    },
                    data:data.data
                }
            ]
        });
    });
</script>
<% include ../layout/footer.html %>